html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: pink;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;
}

.material-types {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.material-type:not(:last-child) {
  margin-right: 50px;
}

.material-type-button{
  padding: 0;
  border: none;
  outline-color: transparent;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  /* background-color: transparent; */
  color: rgba(255, 255, 255, 0.616);
  cursor: pointer;
  transition: color 0.5s ease;
}

.matterial-types-active .material-type-button{
  color: #fff;
}

.material-type-button:hover{
  color: rgba(255, 255, 255, 0.897);
}

.info-text{
 /*  width: 480px; */
 padding-right: 100px;
 margin-bottom: 60px;
}

